body{
    background-color: brown;
    text-align: center;
}

#o{
    border-radius: 10px;
    margin: 2%;
}
#O{
    border-radius: 10px;
    margin: 2%;
}

#Oo{
    border-radius: 10px;
    margin: 2%;
}